/* .formcontdrop {
  width: 5%;
} */
.typediv {
  margin-top: 15px;
}
.cardcontgrid {
  display: inline-block;
}
.iconanddesc {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.cardcontdiv {
  padding: 4px;
}
.gridviewall {
  display: block;
}
.cartbtndiv {
  width: "46%";
  border-radius: 2px;
  height: 40px;
  background-color: #ff9f00;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.buybtndiv {
  width: "46%";
  border-radius: 2px;
  height: 40px;
  background: #fb641b;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.outerdivbtn {
  display: flex;
  justify-content: space-evenly;
}
.btntext {
  margin-left: 5px;
}
.reacticonsdiv {
  margin-bottom: 2px;
  font-size: 18px;
}
.pricediv {
  font-size: 20px;
  text-align: left;
  color: black;
}
.rupeediv {
  margin-bottom: 6px;
}
/* .itemdivflex {
  display: flex;
} */
.hiddennavb {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  display: none;
}
.hiddenhead {
  color: white;
}
.gridviewall {
  width: 100%;
  margin: auto;
}

@media (max-width: 800px) {
  .gridviewall {
    display: block;
  }
}
@media (max-width: 1000px) {
  .leftfilgrid {
    display: none;
  }
  .hiddennavb {
    display: flex;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .itemdivflex {
    display: block;
  }
  .filtersettingicon {
    color: white;
  }
  .gridviewall {
    min-width: 100%;
    margin: auto;
  }
}
