.mainproduct {
  width: 100%;
  display: flex;
}
.cardd {
  margin: 10px;
  width: 30%;
}
.btnss {
  display: flex;
  justify-content: space-around;
}
.adc {
  text-align: center;
  width: 35%;
  border: none;
  border-radius: 5px;
  height: 39px;
  background-color: #ff9f00;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.btnbuy {
    width: 35%;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  text-align: center;

  border-radius: 5px;
  height: 39px;
  background-color: #fb641b;
  color: white;
}
