.mainproduct {
  width: 100%;
  display: flex;
}
.cardd {
  margin: 10px;
  width: 30%;
  border: 1px solid rgba(58, 58, 58, 0.527);
  border-radius: 10px;
}
.btnss {
  display: flex;
  justify-content: space-around;
}
.adc {
  text-align: center;
  width: 46%;
  border: none;
  border-radius: 5px;
  height: 50px;
  background-color: #ff9f00;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.btnbuy {
  width: 46%;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  text-align: center;

  border-radius: 5px;
  height: 50px;
  background-color: #fb641b;
  color: white;
}
