.eLoginMain {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.centerloginE {
  width: 100%;
  margin: auto;
  text-align: center;
}
.loginpic {
  width: 25%;
  margin: auto;
}
@media (max-width: 830px) {
  .loginpic {
    width: 50%;
  }
}
@media (max-width: 630px) {
  .loginpic {
    width: 70%;
  }
}
@media (max-width: 530px) {
  .loginpic {
    width: 100%;
  }
}
