.mainproview {
  padding: 30px;
}
.contproview {
  max-width: 1200px !important;
  margin: auto;
  display: flex;
  background-color: white;
}
.imgproview {
  width: 30%;
}
.descproview {
  width: 70%;
  margin-left: 20px;
  padding: 30px;
}
.proimgdiv {
  width: 100%;
}
.sphead {
  color: green;
  font-size: 16px;
  margin: 0px;
  padding-inline-start: 0px;
}
.headpricediv {
  margin-top: 30px;
}
.pricedivview {
  font-size: 20px;
}
.btndivprod {
  display: flex;
}
.ratingvidediv {
  border: none;
  font-size: 17px;
  background-color: rgb(48, 185, 48);
  color: white;
  border-radius: 10px;
}
.desccproview {
  text-align: center;
  align-items: center;
}
.paradeszcpro {
  text-align: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px;
}
.offersivview {
  margin-top: 20px;
  font-size: 18px;
}
.maindescprodiv {
  margin-top: 10px;
}
.badgeclass {
  color: rgb(48, 185, 48);
}
.mainbtnpru {
  display: flex;
  justify-content: space-evenly;
}
.cartbtndivone {
  width: 150px;
  border-radius: 2px;
  height: 50px;
  background-color: #ff9f00;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}
.buybtndivtow {
  width: 150px;
  border-radius: 2px;
  height: 50px;
  background: #fb641b;

  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

@media (max-width: 1100px) {
  .imgproview {
    width: 35%;
  }
  .descproview {
    width: 65%;
  }
}
@media (max-width: 950px) {
  .imgproview {
    width: 40%;
  }
  .descproview {
    width: 65%;
  }
}

@media (max-width: 820px) {
  .imgproview {
    width: 40%;
  }
  .descproview {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .contproview {
    display: block;
  }
  .imgproview {
    width: 70%;
    margin: auto;
  }
  .descproview {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .imgproview {
    width: 99%;
    margin: auto;
  }
}
